html {
  font-family: $font-primary;
  font-size: 12px;

  h1 {
    font-family: $font-display;
    font-size: 5rem;
  }

  .section {
    position: relative;
    text-align: center;
    margin-top: 100px;
  }

  img {
    width: 75%;
  }

  .img-container {
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid $color-1;
    padding: 5px;
  }

  .background-img {
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  #landing-img {
    @extend .background-img;
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
  }

  nav {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;

    .logo {
      margin-top: 5px;
      margin-left: 4px;
      width: 50px;
      height: auto;
    }
  }

  .jump-down-button {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
  }

  #intro-section {
    position: relative;
    #tagline {
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      font-size: 16px;
      color: white;
    }
  }

  #alt-signup {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    border: transparent;
    border-radius: 4px;
    color: white;
    background-color: #1abc9c;

    @media only screen and (min-width: 413px) {
      display: none;
    }

  }
  #signup-button {
    display: none;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    @media only screen and (min-width: 414px) {
      display: block;
    }
  }

  #login {
    font-size: 10px;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;

    @media only screen and (max-width: 352px) {
      font-size: 1rem;
    }
    @media only screen and (min-width: 353px) {
      font-size: 1.2rem;
    }

    @include breakpoint-483px {
      font-size: 1.4rem;
    }

    @include breakpoint-653px {
      font-size: 1.6rem;
    }

    @include tablet {
      top: 49%;
      font-size: 1.6rem;
    }

    @include desktop {
      top: 47%;
      font-size: 1.8rem;
    }

    @include large-desktop {
      top: 45%;
      font-size: 2.5rem;
    }

    a {
      color: lightgrey;
      text-decoration: underline;
    }
  }

  #learn-more-box {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 75px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    color: white;

    @include tablet {
      bottom: 15%;
    }

    @include desktop {
      bottom: 20%;
    }

    @media only screen and (min-width: 1060px) {
      bottom: 28%;
    }

    @include large-desktop {
      bottom: 36%;
      width: 500px;
      height: 100px;
    }

    #learn-more {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.5rem;

      @include tablet {
        font-size: 1.7rem;
      }

      @include desktop {
        font-size: 1.9rem;
      }

      @media only screen and (min-width: 1060px) {
        font-size: 2.1rem;
      }

      @include large-desktop {
        font-size: 2.3rem;
      }
    }

    .fa {
      color: $primary-color;
    }
  }

  .navbar-brand {
    font-family: $font-display;
  }

  #view-toggle {
    text-align: right;
    @media only screen and (min-width: 768px) {
      display: block !important;
    }

  }

  .toggle-button {
    margin: 3px;
  }

  #addFoodButton {
    display: none;
    @media only screen and (max-width: 767px) {
      display: block;
      text-align: center;
    }
  }

  #addFoodPanel {
    @media only screen and (min-width: 768px) {
      display: block !important;
    }
  }

  #categoryAddFoodPanel {
    @media only screen and (min-width: 768px) {
      display: block !important;
    }
  }

  #grid {
    font-family: $font-display;
  }

  #display-name {
    font-family: $font-display;
    font-weight: bold;
    font-size: 1.8rem;
    color: grey;
    margin-bottom: 20px;
  }

  .img-square {
    min-width: 100%;
    height: auto;
  }

  .img-thumbnail {
    height: 100%;
  }

  // http://stackoverflow.com/questions/11552380/how-to-automatically-crop-and-center-an-image
  .center-cropped {
    width: 100%;
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;

    &:hover {
      opacity: 0.5;
      text-decoration: none;
    }

  }

  .title {
    //top: 200px;
    //position: relative;

    opacity: 1;
    text-decoration: none;
    color: black;
    text-align: center;
    &:hover {
      text-decoration: none;
    }
  }

  .foodTitle {
    @extend .title;
    font-size: 2em;
    line-height: 200px;
  }

  .recipeTitle {
    @extend .title;
    font-size: 1.5em
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  .nopadding {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .sortorder:after {
    content: '\25b2';
  }

  .sortorder.reverse:after {
    content: '\25bc';
  }

  .alert {
    margin: 12px 0;
  }
}