@mixin breakpoint-483px {
  @media (min-width: #{$width-483px}) and (max-width: #{$width-653px - 1px}) {
    @content;
  }
}

@mixin breakpoint-653px {
  @media (min-width: #{$width-653px}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) and (max-width: #{$large-desktop-width - 1px}) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: #{$large-desktop-width}) {
    @content;
  }
}