//Screen sizes
$width-483px: 483px;
$width-653px: 653px;
$tablet-width: 768px;
$desktop-width: 992px;
$large-desktop-width: 1200px;

// Color palette
$primary-color: #00A6D9;
$accent-color: #007FA6;
$color-1: #43BBDF;
$color-2: #004459;
$color-3: #1B4B59;

// Fonts
$font-display: 'Open Sans Condensed', sans-serif;
$font-primary: 'Arimo', sans-serif;