<div class="container">
    <h1>Your {{currentCategory}} ingredients</h1>
<div class="row">
    <div class="col-sm-6">
        <div id="addFoodButton">
            <button class="btn btn-block btn-primary" ng-click="showAddFoodPanel=true" ng-hide="showAddFoodPanel">Add Food <i style="margin-left:5px;" class="fa fa-caret-down" aria-hidden="true"></i>
            </button>
            <button class="btn btn-block btn-primary" ng-click="showAddFoodPanel=false" ng-show="showAddFoodPanel">Add Food <i style="margin-left:5px;" class="fa fa-caret-up" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>

    <div class="row">
        <div class="col-sm-12 col-md-3">
            <div class="panel panel-default" ng-show="showAddFoodPanel" id="categoryAddFoodPanel">
                <div class="panel-heading">
                    <h3 class="panel-title">Add Food</h3>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="name">Name:<span style="color:red;">*</span></label><br>
                            <input class="form-control" type="text" id="name" ng-model="tempFood.name">
                        </div>
                        <div class="form-group">
                            <label for="quantity">Quantity:<span style="color:red;">*</span></label><br>
                            <input class="form-control" type="number" id="quantity" ng-model="tempFood.quantity">
                        </div>
                        <div class="form-group">
                            <label for="units">Units:</label><br>
                            <input class="form-control" type="text" id="units" ng-model="tempFood.measurement">
                        </div>
                        <div class="form-group">
                            <label for="expiration">Expiration:</label><br>
                            <input class="form-control" type="date" id="expiration" ng-model="tempFood.expiresAt">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block" ng-click="addFood(tempFood)" ng-disabled="loading ? 'disabled' : ''">
                            <i ng-show="loading" class="fa fa-spinner fa-spin fa-fw margin-bottom"></i> Add
                        </button>
                        <div id="alert"></div>
                    </form>
                </div>
            </div>

            <div class="panel panel-danger" ng-show="hasExpired">
                <div class="panel-heading">
                    Expired Foods
                </div>
                <div class="panel-body">
                    <table class="table table-responsive">
                        <tr ng-repeat=" ingredient in expiredFoods | filter:categoryFilter:strict">
                            <td><a href="#/food/{{ingredient.category}}/{{ingredient._id}}">{{ingredient.name}}</a> </td>
                            <td align="right"><button class="btn btn-danger" ng-click="deleteFood(ingredient)">Delete</button></td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>


        <div class="col-sm-12 col-md-9">
            <div class="table-responsive">
                <table ng-hide="empty" class="table table-striped">
                    <thead>
                    <tr>
                        <th><a ng-click="order('quantity')">Quantity</a><span class="sortorder" ng-show="predicate === 'quantity'" ng-class="{reverse:reverse}"></span></th>
                        <th><a ng-click="order('name')">Name</a><span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span></th>
                        <th><a ng-click="order('expiresAt')">Expiration Date<span class="sortorder" ng-show="predicate === 'expiresAt'" ng-class="{reverse:reverse}"></span></a></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tr ng-repeat=" ingredient in userData.ingredients | filter:categoryFilter:strict | orderBy:predicate:reverse ">
                        <td>{{ingredient.quantity}} {{ingredient.measurement}}</td>
                        <td><a ng-href="#/food/{{currentCategory}}/{{ingredient._id}}">{{ingredient.name}}</a></td>
                        <td>{{ingredient.expiresAt | date:'shortDate'}}</td>
                        <td><button class="btn btn-danger" ng-click="deleteFood(ingredient)"><i class="fa fa-times" aria-hidden="true"></i></button></td>
                    </tr>
                </table>
            </div>
            <div ng-show="empty">
                <i class="center-block fa fa-cutlery fa-5x fa-fw margin-bottom"></i>
                <h1 class="text-center">Oops!</h1>
                <h1 class="text-center">You don't have any food!</h1>
            </div>
        </div>
    </div>
</div>