<div ng-hide="loading || empty" class="container">
    <div class="col-sm-12">
        <div class="row align-spaced">
            <div id="display-name" class="col-sm-12 col-md-3" ng-repeat="recipe in paginatedRecipes">
                <a ng-href="#/recipe/{{recipe['recipe_id']}}">
                    <div class="center-cropped" style="background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url({{recipe.image_url}}) center center no-repeat; background-size: cover;">
                        <div class="recipeTitle">
                            {{recipe.title}}
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <uib-pagination
                total-items="totalItems"
                items-per-page="itemsPerPage"
                ng-model="currentPage"
                ng-change="pageChanged()">
        </uib-pagination>
    </div>
</div>
<div ng-show="loading" class="container">
    <i class="center-block fa fa-spinner fa-spin fa-5x fa-fw margin-bottom"></i>
</div>
<div ng-show="empty" class="container">
    <i class="center-block fa fa-cutlery fa-5x fa-fw margin-bottom"></i>
    <h1 class="text-center">Oops!</h1>
    <h1 class="text-center">You don't have any favorite recipes.</h1>
    <h1 class="text-center">Why not try to <a href="/#/recipes">add some recipes</a>?</h1>
</div>