<div class="container">

    <div class="row">

        <div class="col-sm-8 col-sm-offset-2 col-md-3 col-md-offset-6">
            <h3 class="text-center">My Food</h3>
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" type="search" placeholder="Search" ng-model="searchQuery">
                          <span class="input-group-btn">
                            <button type="submit" class="btn"><span class="fui-search"></span></button>
                          </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-8 col-sm-offset-2 col-md-9 col-md-offset-3">
            Fun fact: {{funFact}}
        </div>
    </div>
    <div class="row">
            <div class="col-sm-6">
                <div id="addFoodButton">
                    <button class="btn btn-block btn-primary" ng-click="showAddFoodPanel=true" ng-hide="showAddFoodPanel">Add Food <i style="margin-left:5px;" class="fa fa-caret-down" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-block btn-primary" ng-click="showAddFoodPanel=false" ng-show="showAddFoodPanel">Add Food <i style="margin-left:5px;" class="fa fa-caret-up" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="col-sm-6">
                <div id="view-toggle">
                    <a href="" class="toggle-button" id="grid-button" ng-click="showList=false"><i
                            class="fa fa-th-large fa-lg" aria-hidden="true"></i></a>
                    <a href="" class="toggle-button" id="list-button" ng-click="showList=true"
                       ng-class="{'active': listBtnClicked}"><i class="fa fa-th-list fa-lg" aria-hidden="true"></i></a>
                </div>
            </div>

    </div>

    <div class="row">
        <div class="col-sm-12 col-md-3">
            <div class="panel panel-default" ng-show="showAddFoodPanel" id="addFoodPanel">
                <div class="panel-heading">
                    Add Food
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="name">Name:<span style="color:red;">*</span></label><br>
                            <input class="form-control" type="text" id="name" ng-model="tempFood.name">
                        </div>
                        <div class="form-group">
                            <label for="category">Category:<span style="color:red;">*</span></label><br>
                            <select class="form-control" ng-model="tempFood.category" id="category">
                                <option ng-repeat="category in categories">{{category.category}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="quantity">Quantity:<span style="color:red;">*</span></label><br>
                            <input class="form-control" type="number" id="quantity" ng-model="tempFood.quantity">
                        </div>
                        <div class="form-group">
                            <label for="units">Units:</label><br>
                            <input class="form-control" type="text" id="units" ng-model="tempFood.measurement">
                        </div>
                        <div class="form-group">
                            <label for="expiration">Expiration:</label><br>
                            <input class="form-control" type="date" id="expiration" ng-model="tempFood.expiresAt">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block" ng-click="addFood(tempFood)"
                                ng-disabled="loading ? 'disabled' : ''">
                            <i ng-show="loading" class="fa fa-spinner fa-spin fa-fw margin-bottom"></i> Add
                        </button>
                        <div id="alert"></div>
                    </form>
                </div>
            </div>
            <div class="panel panel-danger" ng-show="hasExpired">
                <div class="panel-heading">
                    Expired Foods
                </div>
                <div class="panel-body">
                    <table class="table table-responsive">
                        <tr ng-repeat=" ingredient in expiredFoods">
                            <td><a href="#/food/{{ingredient.category}}/{{ingredient._id}}">{{ingredient.name}}</a></td>
                            <td align="right">
                                <button class="btn btn-danger" ng-click="deleteFood(ingredient)">Delete</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div ng-hide="showList" class="col-sm-12 col-md-9" id="grid">
            <div class="row">
                <div id="display-name" class="col-sm-12 col-md-4" ng-repeat="category in categories">
                    <a href="#/food/{{category.category}}">
                        <div class="center-cropped" style="background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url({{category.image_url}}) center center no-repeat; background-size: cover;">
                            <div class="foodTitle">
                                {{ category.category }}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div ng-show="showList">
            <div class="col-sm-12 col-md-9">
                <div class="table-responsive">
                    <table ng-hide="empty" class="table table-striped">
                        <thead>
                        <tr>
                            <th><a ng-click="order('category')">Ctgy</a></th>
                            <th><a ng-click="order('quantity')">Qty</a></th>
                            <th><a ng-click="order('name')">Name</a></th>
                            <th><a ng-click="order('expiresAt')">Expires</a></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tr ng-repeat=" ingredient in userFood | filter:searchFilter | orderBy:predicate:reverse ">
                            <td><a href="#/food/{{ingredient.category}}">{{ingredient.category}}</a></td>
                            <td>{{ingredient.quantity}} {{ingredient.measurement}}</td>
                            <td><a href="#/food/{{ingredient.category}}/{{ingredient._id}}">{{ingredient.name}}</a></td>
                            <td>{{ingredient.expiresAt | date:'shortDate'}}</td>
                            <td><button class="btn btn-danger" ng-click="deleteFood(ingredient)"><i class="fa fa-times" aria-hidden="true"></i></button></td>
                        </tr>
                    </table>
                </div>

                <div ng-show="empty">
                    <i class="center-block fa fa-cutlery fa-5x fa-fw margin-bottom"></i>
                    <h1 class="text-center">Oops!</h1>
                    <h1 class="text-center">You don't have any food!</h1>
                </div>
            </div>
        </div>

    </div>
</div>