<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{matches.name}}</h3>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label>Category:</label>
                            <p class="form-control-static">{{matches.category}}</p>
                        </div>
                        <div class="form-group">
                            <label for="quantity">Quantity</label>
                            <input class="form-control" type="number" id="quantity" ng-model="matches.quantity">
                        </div>
                        <div class="form-group">
                            <label>Units</label>
                            <p class="form-control-static">{{matches.measurement ? matches.measurement : 'None'}}</p>
                        </div>
                        <div class="form-group">
                            <label>Expiration Date</label>
                            <p class="form-control-static">{{matches.expiresAt | date:'shortDate'}}</p>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block" ng-click="editFood(matches)" ng-disabled="loading ? 'disabled' : ''">
                            <i ng-show="loading" class="fa fa-spinner fa-spin fa-fw margin-bottom"></i> Submit Change
                        </button>
                        <button type="submit" class="btn btn-danger btn-block" ng-click="deleteFood(matches)" ng-disabled="loading ? 'disabled' : ''">
                            <i ng-show="loading" class="fa fa-spinner fa-spin fa-fw margin-bottom"></i> Delete
                        </button>
                        <div id="alert"></div>
                    </form>
                </div>
            </div>

        </div>

        <div class="col-sm-12 col-md-8">
            <h1>Recipes with {{matches.name}}</h1>
                <div class="row align-spaced">
                    <div id="display-name" class="col-sm-12 col-md-3" ng-repeat="recipe in recipes | limitTo: 8">
                        <a ng-href="#/recipe/{{recipe['recipe_id']}}">
                            <div class="center-cropped" style="background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url({{recipe.image_url}}) center center no-repeat; background-size: cover;">
                                <div class="recipeTitle">
                                    {{recipe.title}}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

        </div>
    </div>
</div>