<nav>
    <img class="logo" src="public/media/meal_maestro_logo_bold_white.png">
</nav>

<div id="intro-section">
    <img class="background-img" id="landing-img" src="https://nwkinsman.files.wordpress.com/2014/03/fridge-organized-clear-baskets.jpg"/>
    <h1 id="tagline">Your personal food management system</h1>

        <a href="#/signup">
            <button id="alt-signup">Get Started</button>
        </a>
        <a href="#/signup">
            <button class="btn btn-primary" id="signup-button">Get Started</button>
        </a>
        <br>
        <div id="login"><a href="#/login">Already have an account?</a></div>

    <div id="learn-more-box">
        <div id="learn-more">
            How it works<br>
            <a href="#/landing/#how-it-works"><i class="fa fa-arrow-down fa-lg" aria-hidden="true"></i></a>
        </div>
    </div>

</div>

<div class="section" id="how-it-works">
    <!--Add a food-->
    <h1>1. Add food</h1>
    <div class="img-container">
        <img src="public/media/add-food.png">
    </div>
</div>

<div class="section" id="how-it-works-2">
    <!--View recipes-->
    <h1>2. Get suggested recipes based on your food</h1>
    <div class="img-container">
        <img src="public/media/suggested.png">
    </div>
</div>

<div class="section" id="how-it-works-3">
    <!--Edit categories-->
    <h1>3. Store favorites.</h1>
    <div class="img-container">
        <img src="public/media/fav-recipes.png">
    </div>
</div>

<div class="section" id="how-it-works-4">
    <!--Edit categories-->
    <h1>4. Cook!</h1>
    <div class="img-container">
        <img src="public/media/recipe-view.png">
    </div>
</div>

<div class="section" id="call-to-action">
    <a href="#/signup">
        <button class="btn btn-primary" id="sign-up-button">Sign Up Today</button>
    </a><br>
    <a href="#/landing/#intro-section"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
</div>