<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Log In</h3>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="email">Email <span style="color:red;">*</span></label>
                            <input type="text" class="form-control" placeholder="Email" id="email" ng-model="form.email"/>
                        </div>
                        <div class="form-group">
                            <label for="password">Password <span style="color:red;">*</span></label>
                            <input type="password" class="form-control" placeholder="Password" id="password" ng-model="form.password"/>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block" ng-click="submit()" ng-disabled="loading ? 'disabled' : ''">
                            <i ng-show="loading" class="fa fa-spinner fa-spin fa-fw margin-bottom"></i> Login
                        </button>
                        <div id="alert"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>