<div ng-hide="loading" class="container">
    <h2>
        {{recipe.title}}
        <a href="javascript:void(0);" ng-click="onClickFavorite()">
            <i ng-show="isInFavorites" class="fa fa-heart" aria-hidden="true"></i>
            <i ng-hide="isInFavorites" class="fa fa-heart-o" aria-hidden="true"></i>
        </a>
    </h2>
    <div class="col-sm-12 col-md-3">
        <img ng-src="{{recipe.image_url}}" alt="{{recipe.title}}" class="img-thumbnail">
    </div>
    <div class="col-sm-12 col-md-8">
        <p>Ingredients</p>
        <ul>
            <li ng-repeat="i in recipe.ingredients track by $index">{{i}}</li>
        </ul>
        <p>Directions</p>
        <a ng-href="{{recipe.source_url}}" target="_blank">
            <button class="btn btn-success">Link to directions</button>
        </a>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#whyDontModal">
            Why don't we display directions?
        </button>
        <div id="whyDontModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Why don't we display directions?</h4>
                    </div>
                    <div class="modal-body">
                        <p>We appreciate the creative talent of our publishers and try to give back by requiring that
                            you visit their site to see the recipe directions.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div id="alert"></div>
</div>
<div ng-show="loading" class="container">
    <i class="center-block fa fa-spinner fa-spin fa-5x fa-fw margin-bottom"></i>
</div>