<div ng-hide="loading || empty" class="container">
    <div class="col-sm-12 col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Filters</h3>
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <label>By 3 soon-to-expire ingredients</label>
                        <div ng-repeat="ingredient in expiringIngredients">
                            <label>
                                <input type="checkbox" ng-value="ingredient.name" ng-model="ingredient.selected">
                                {{ingredient.name}}
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-9">
        <div class="row align-spaced">
            <div id="display-name" class="col-sm-12 col-md-3" ng-repeat="recipe in paginatedRecipes">
                <a ng-href="#/recipe/{{recipe['recipe_id']}}">
                    <div class="center-cropped" style="background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url({{recipe.image_url}}) center center no-repeat; background-size: cover;">
                        <div class="recipeTitle">
                            {{recipe.title}}
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <uib-pagination
                total-items="totalItems"
                items-per-page="itemsPerPage"
                ng-model="currentPage"
                ng-change="pageChanged()">
        </uib-pagination>
    </div>
</div>
<div ng-show="loading" class="container">
    <i class="center-block fa fa-spinner fa-spin fa-5x fa-fw margin-bottom"></i>
</div>
<div ng-show="empty" class="container">
    <i class="center-block fa fa-cutlery fa-5x fa-fw margin-bottom"></i>
    <h1 class="text-center">Oops!</h1>
    <h1 class="text-center">We don't have any recipes for you now.</h1>
    <h1 class="text-center">Why not try to <a href="/#/food">add some food</a>?</h1>
</div>